<!DOCTYPE html>
<html ng-app="testApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script language="JavaScript">
      var app = angular.module('testApp', []);

      app.controller('MainController', function ($scope) {
        $scope.idModel = 'initialValue';
        $scope.items = [1, 2];
        $scope.elements = ['a', 'b'];
      });
    </script>
</head>
<body ng-controller="MainController">

<div>
    Normal text: <input type="text" id="onlyId" ng:model="idModel"/>
    Name override: <input type="text" id="ignoredId" name="nameOverride" ng-disabled="true"/>
    Only model: <input type="text" data-ng-model="onlyModel" style="visibility: hidden"/>
    Telephone: <input type="tel" name="telField"/>
    Search: <input type="search" name="searchField"/>
    URL: <input type="url" name="urlField"/>
    Email: <input type="email" name="emailField"/>
    Password: <input type="password" name="passwordField"/>
    Number: <input type="number" name="numberField"/>

    <div data-ng-repeat="item in items">
        Nested {{item}}: <input type="text" name="repeatedTextField"/>

        <div ng_repeat="element in elements">
            Nested repeater {{element}}: <input type="text" data-ng-model="nestedRepeaterTextField"/>
        </div>
    </div>
</div>

</body>
</html>